@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Ingelogin

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #8bc63d;
$secondary_color: #4254a0;
$tertiary_color: #5d5d5d;
$background: #f2f2f2;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Verdana';
		size: 13px;
	}
	color: $tertiary_color;
}

a {
	color: $primary_color;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.custom_t1 {
		padding: {
			top: 10px;
			bottom: 10px;
		}
	}
	.moduletable_t2 {
		ul.menu_main {
			margin: 0;
			list-style: none;
			li {
				padding: 0 10px;
				background: {
					image: url(menu_main_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				display: inline-block;
				&.active {
					a {
						background: transparent;
						border-bottom: 2px solid $primary_color;
						color: $tertiary_color;
					}
				}
				&.deeper {
					a {
						padding: 10px 20px;
					}
				}
				&:last-child {
					background-image: none;
				}
				a {
					padding: 10px;
					font-size: 12px;
					color: #000;
					text-transform: uppercase;
					&:hover {
						border-bottom: 2px solid $primary_color;
						color: #000;
					}
				}
				ul {
					border: none;
					li {
						padding: 0;
						background-image: none;
						a {
							text-align: left;
							&:hover {
								background-color: $primary_color;
								border: none;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_t3 {
		select {
			height: inherit;
			margin: 0;
			font-size: 12px;
		}
	}
}

/* Menu */

.menu_wrap {}

/* Banner */

.banner {
	background: {
		image: url(banner_bg.png);
		repeat: repeat-x;
	}
	.moduletable_ba1 {
		border-top: 6px solid $primary_color;
	}
}

/* Component */

.component,
.component_grey {
	padding: 30px 0;
	.blog-featured {
		.page-header {
			h1 {
				font-size: 14px;
				text-align: center;
			}
		}
	}
	.blog,
	.blog_grey,
	.chronoform {
		h2 {
			font-size: 18px;
			color: $primary_color;
		}
		.box_1 {
			padding: {
				top: 15px;
				bottom: 15px;
			}
			background-color: #fff;
		}
	}
}

.component_grey {
	margin-top: 30px;
	background-color: $background;
}

/* Home */

.home {
	padding: 30px 0;
	background-color: $background;
	.moduletable_ho1 {
		p.link {
			margin: 0;
			a {
				color: $tertiary_color;
			}
		}
	}
}

/* Application */

.application {
	padding-top: 30px;
	.moduletable_ap1 {
		.button {
			margin: 0;
			text-transform: uppercase;
		}
	}
}

/* News */

.news {
	padding: 30px 0;
	.moduletable_ne1 {
		h3 {
			max-width: 200px;
			margin: auto;
			margin-bottom: 15px;
			padding: 10px;
			background-color: $primary_color;
			font-size: 14px;
			color: #fff;
			text: {
				align: center;
				transform: uppercase;
			}
		}
		.feed_ne1 {
			ul.newsfeed_ne1 {
				margin: 0;
				list-style: none;
				li {
					width: 49%;
					list-style: none;
					text-align: center;
					display: inline-block;
					.feed-link,
					.feed-item-description {
						margin: 0 5px;
						padding: 10px;
						border: 1px solid $background;
						display: block;
					}
					.feed-link {
						border-bottom: none;
						a {
							color: $secondary_color;
						}
					}
					.feed-item-description {
						padding-top: 0;
						border-top: none;
					}
				}
			}
		}
	}
}

/* Social Media */

.social_media {
	padding: 15px 0;
	background-color: $background;
	.moduletable_sm1 {
		a {
			margin: 0 10px;
		}	
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		font-size: 16px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 10px;
	background-color: $secondary_color;
	.copyright {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform {
	h2 {
		margin: 0;
		margin-bottom: 15px;
		font-size: 18px;
		color: $primary_color;
		text-transform: uppercase;
	}
	label {
		display: none;
	}
	input[type=text],
	textarea {
		background-color: $background;
		border: none;
		box-shadow: none;
		font-size: 12px;
	}
	#ftd-enviar {
		text-align: center;
	}
	.button {
		margin: 0;
		padding: 5px;
		background-color: $secondary_color;
		font-size: 12px;
		text-transform: uppercase;
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}